
<div class="parallax">
  <nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
       <a class="apt navbar-brand" href="#"> 
      <img src="/assets/apt2.svg" alt="Logo" width="50" height="50" class="logoApt d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navHome nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class=" nav-item">
          <a class="navAboutMe nav-link" href="#">Sobre mí</a>
        </li>
        <li class=" nav-item">
          <a class="navAboutMe nav-link" href="#">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="navProjects nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="navContact nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
